@charset "UTF-8";

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #2b2b2b;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: #2b2b2b;
}

section {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  img {
    width:100%;
    max-width: 100%;
    height: auto;
    }
}

/* header */
.header {
    position: relative;
    width: 100%;
    height: 620px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../img/header-min.png');
    background-size: cover;
    color: #fff;
}

.header__nav {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 64px;
}

.header__nav__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__nav__logo {
    font-size: 36px;
}

  @media (max-width: 767px) {
    .button-mainvisual {
      padding: 20px 36px;
      font-size: 20px;
      width: 280px;
    }
  }
  
  .drawer-icon {
    right: 16px;
    top: 20px;
    z-index: 41;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    padding: 0;
    outline: none
  }
  
  .drawer-icon.is-checked {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  
  @media (max-width: 767px) {
    .drawer-icon {
      display: block;
    }
  }
  
  .drawer-bars {
    display: inline-block;
    width: 22px;
    height: 20px;
    position: relative;
    vertical-align: bottom;
  }
  
  .drawer-bar {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    background: #ffffff;
    width: 100%;
    height: 1px;
    border-radius: 0;
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }
  
  .drawer-bar:nth-of-type(1) {
    top: 0;
  }
  
  .drawer-bar:nth-of-type(2) {
    top: 8px;
  }
  
  .drawer-bar:nth-of-type(3) {
    top: 16px;
  }
  
  .is-checked .drawer-bar:nth-of-type(1) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .is-checked .drawer-bar:nth-of-type(2) {
    background: transparent;
  }
  
  .is-checked .drawer-bar:nth-of-type(3) {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .drawer-background {
    display: none;
    position: fixed;
    z-index: 39;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  
  .drawer-background.is-checked {
    display: block;
    opacity: 0.8;
  }
  
  .drawer-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    z-index: 40;
    width: 200px;
    max-width: 90%;
    height: 100%;
    background: #fff;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-align: left;
    color: #707070;
  }
  
  .drawer-content.is-checked {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
            box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
  }
  
  .drawer-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .drawer-content ul li {
    border-bottom: 1px dotted #707070;
  }
  
  .drawer-content ul li a {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 16px 30px 14px 20px;
    color: #707070;
  }
  
  .drawer-content ul li a::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 7px;
    height: 11px;
  }

.header__title {
    padding-top: 240px;
    font-size: 120px;
    font-weight: normal;
    text-align: center;
  }
  
  .header__title__sub {
    word-spacing: 4px;
    text-align: center;
  }
  
  .header__title__sub::before,
  .header__title__sub::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 2px;
    margin: 0 8px;
    background: #fff;
    vertical-align: middle;
  }

/* END__header */

/* Concept */
.u-heading {
    position: relative;
    margin-bottom: 32px;
    padding-bottom: 24px;
    font-size: 36px;
    letter-spacing: 2px;
}

.u-heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40px;
    height: 1px;
    background: #2b2b2b;
    transform: translateX(-50%);
}

.u-text {
    padding-bottom: 40px;
    line-height: 1.8;
    letter-spacing: 1.4px;
    font-size: 13px;
}

.concept {
    width: 100%;
    padding: 80px 0;
    background: linear-gradient(#fff 70%, #ededed 30%);
}

.concept__image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media (max-width: 767px) {
    .concept__image {
      display: block;
    }
  }

/* END__Concept */

/* Works */

.works {
    padding: 40px 0 24px;
}

.work__contents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 1609px;
}

.work__contents__item {
    width: 420px;
    margin-bottom: 80px;
}

.work__contents__item:nth-child(3){
    margin-top: 120px;
}

.sub__title {
    font-size: 24px;
    font-weight: bold;
    padding-top: 16px;
    text-align: left;
}

.work__contents__item p {
    font-size: 16px;
}

.introductory {
    text-align: left;
}

@media (max-width: 767px) {
    .work__contents {
      display: block;
    }
  }

/* END__Works */

/* Florist */
.florist {
    background: linear-gradient(#ededed 60%, #fff 40%);
    height: 651px;
    padding-top: 80px;
}

.card__items {
    display: flex;
    flex-wrap: wrap;
  }
  .card__item {
    width: calc(33.33333333% - 24px * 2 / 3);
    margin-right: 24px;
    margin-top: 24px;
  }
  .card__item:nth-child(3n) {
    margin-right: 0;
  }

  @media (max-width: 767px) {
    .card__items,
    .card__item {
      display: block;
    }
  }

/* END__Florist */

/* Shop-information */

.shop-information {
    height: 686px;
    padding: 80px 0;
}

.shop-information__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopInformation__table {
    width: 45%;
    border-spacing: 16px;
    text-align: left;
    letter-spacing: 1.5px;
    line-height: 2;
}

tbody {
    vertical-align: inherit;
}

td:first-child {
    border-right: 1px solid #a0a0a0;
}

@media (max-width: 767px) {
    .shop-information__grid {
      display: block;
    }
  }

/* END__Shop-information */

/* Contact */

.contact {
    position: relative;
    width: 100%;
    height: 450px;
    padding-top: 80px;
    background: url(../img/contact_us.png);
    background-size: cover;
}

.btn__contact {
    position: relative;
    display: inline-block;
    width: 360px;
    padding-left: 40px;
    height: 80px;
    line-height: 80px;
    letter-spacing: 2px;
    border: 1px solid #a0a0a0;
    background: #fff;
    font-size: 20px;
}

.btn__contact::before,
.btn__contact::after {
  content: '';
  position: absolute;
  border-radius: 2px;
}
.btn__contact::before {
  top: 30px;
  left: 85px;
  width: 30px;
  height: 20px;
  border: 1px solid #2b2b2b;
}
.btn__contact::after {
  top: 21px;
  left: 90px;
  width: 20px;
  height: 20px;
  border-right: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  transform: rotate(45deg);
}
/* END__Contact */

/* footer */

.footer {
    height: 40px;    
}

.cp-text {
    text-align: center;
    padding: 12px 0;
    color: #2b2b2b;
}

/* END__footer */