@charset "UTF-8";
.header {
  width: 100%;
  height: 620px;
  background-image: url(../img/header-min.png);
  background-size: cover;
  text-align: center;
  /*OPEN時の動き*/
  /*OPEN時の動き*/
}

.header-nav {
  width: 100%;
  height: 64px;
  position: relative;
  position: fixed;
}

.header .drawer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
  padding: 0 160px;
}

.header .navbar_brand {
  color: #fff;
  font-size: 36px;
}

.header .navbar_toggle {
  z-index: 9999;
}

.header .navbar_toggle_icon {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  background: #fff;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

.header .navbar_toggle_icon:nth-child(1) {
  top: 0;
}

.header .navbar_toggle_icon:nth-child(2) {
  margin: 8px 0;
}

.header .navbar_toggle_icon:nth-child(3) {
  top: 0;
}

.header .navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header .navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.header .navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
  top: -10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header .menu {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: ease .5s;
  transition: ease .5s;
  z-index: 1000;
}

.header .menu ul li {
  padding: .8rem;
  border-bottom: 1px solid #CCC;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);
}

.header .menu.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.header__title {
  font-size: 120px;
  padding-top: 240px;
  color: #fff;
}

.header__title__sub {
  color: #fff;
}

.header__title__sub::before, .header__title__sub::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background: #fff;
  vertical-align: middle;
}

.header--unpinned {
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
}
