.header {
  position: relative;
  width: 100%;
  height: 620px;
  background-image: url(../img/header-min.png);
  background-size: cover;
  text-align: center;
  color: #fff;
}

.header__nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 64px;
}

.header__nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav__logo {
  font-size: 36px;
}

.header .hamburger-menu {
  position: relative;
  width: 32px;
  height: 64px;
  cursor: pointer;
}

.header .hamburger-menu__line, .header .hamburger-menu__line::before, .header .hamburger-menu__line::after {
  position: absolute;
  left: 0;
  display: block;
  width: 32px;
  height: 1px;
  background-color: #fff;
}

.header .hamburger-menu__line::before, .header .hamburger-menu__line::after {
  content: '';
}

.header .hamburger-menu__line {
  top: 50%;
}

.header .hamburger-menu__line::before {
  top: calc(50% - 8px);
}

.header .hamburger-menu__line::after {
  top: calc(50% + 8px);
}

.header__title {
  padding-top: 240px;
  font-size: 120px;
  font-weight: normal;
}

.header__title__sub {
  word-spacing: 4px;
}

.header__title__sub::before, .header__title__sub::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background: #fff;
  vertical-align: middle;
}
