@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #2b2b2b;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  color: #2b2b2b;
  text-decoration: none;
}

section {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.about {
  height: 648px;
  background-image: url(../img/header-min.png);
  background-size: cover;
}

@media (min-width: 768px) {
  .about {
    background-position: center center;
  }
}

@media (max-width: 767px) {
  .about {
    height: 668px;
  }
}

.about__inner {
  max-width: 1240px;
}

.about__text {
  padding-top: 230px;
}

@media (max-width: 767px) {
  .about__text {
    margin-left: auto;
    max-width: 600px;
  }
}

.about__ttl {
  font-weight: normal;
  font-size: 120px;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .about__ttl {
    font-size: 24px;
    margin-bottom: 14px;
  }
}

.about__body {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  padding-bottom: 40px;
}

.about__body::before, .about__body::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background: #fff;
  vertical-align: middle;
}

.concept {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(#fff 70%, #ededed 30%);
}

.concept__image {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.concept .u-heading {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 24px;
  font-size: 36px;
  letter-spacing: 2px;
}

.concept .u-heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 1px;
  background-color: #2b2b2b;
  transform: translateX(-50%);
}

.concept .u-text {
  padding-bottom: 40px;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

.works {
  padding-top: 80px;
}

.works-heading {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 24px;
  font-size: 36px;
  letter-spacing: 2px;
}

.works-heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 1px;
  background-color: #2b2b2b;
  transform: translateX(-50%);
}

.works-text {
  padding-bottom: 40px;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

.works__contents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 1580px;
}

@media (max-width: 767px) {
  .works__contents {
    display: none;
  }
}

.works__contents__item {
  padding-bottom: 80px;
}

.works__contents__item:nth-of-type(3) {
  padding-top: 120px;
}

.works .works-list-img img {
  width: 100%;
}

.works .work-ttl {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  padding: 16px 0 4px;
}

.works .work-body {
  font-size: 16px;
  text-align: left;
  line-height: 1.8;
}

@media (min-width: 768px) {
  .swiper-container {
    display: none;
  }
}

@media (max-width: 767px) {
  .swiper-container {
    width: 100%;
    height: auto;
    align-items: center;
  }
}

.florist {
  background: linear-gradient(#ededed 50%, #fff 50%);
}

.florist-heading {
  position: relative;
  margin-bottom: 32px;
  padding: 80px 0 24px;
  font-size: 36px;
  letter-spacing: 2px;
}

.florist-heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 1px;
  background-color: #2b2b2b;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .florist-heading {
    display: block;
  }
}

.florist-text {
  padding-bottom: 40px;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

.florist .card__items {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .florist .card__items {
    display: block;
  }
}

.florist .card__item:not(:nth-child(3n + 1)) {
  width: calc(33.3% - 24px * 2 / 3);
  margin-left: 24px;
}

@media (max-width: 767px) {
  .florist .card__item:not(:nth-child(3n + 1)) {
    width: auto;
    padding-top: 40px;
    margin-left: 0;
  }
}

.florist .card__title {
  font-weight: bold;
  text-align: left;
  padding: 12px 0 4px;
  font-size: 24px;
}

@media (max-width: 767px) {
  .florist .card__title {
    text-align: center;
  }
}

.florist .introductory {
  text-align: left;
  letter-spacing: 3px;
}

@media (max-width: 767px) {
  .florist .introductory {
    text-align: center;
  }
}

.shop-information-heading {
  position: relative;
  margin-bottom: 32px;
  padding: 80px 0 24px;
  font-size: 36px;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .shop-information-heading {
    position: relative;
    margin-bottom: 20px;
  }
}

.shop-information-heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 1px;
  background-color: #2b2b2b;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .shop-information-heading::after {
    position: absolute;
  }
}

.shop-information-text {
  padding-bottom: 40px;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

@media (min-width: 768px) {
  .shop-information__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
  }
}

@media (max-width: 767px) {
  .shop-information__grid {
    display: block;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .shop-information__img {
    width: 100%;
    padding-bottom: 60px;
  }
}

.shop-information__table {
  width: 45%;
  border-spacing: 16px;
  text-align: left;
  letter-spacing: 1.5px;
  line-height: 2;
}

@media (max-width: 767px) {
  .shop-information__table {
    width: 100%;
  }
}

.shop-information__table__heading {
  border-right: 1px solid #a0a0a0;
}

.shop-information tbody {
  vertical-align: inherit;
}

.shop-information tr {
  margin: 5px 0;
}

.shop-information th, .shop-information td {
  font-weight: normal;
  padding-left: 20px;
  padding-bottom: 5px;
}

@media (max-width: 767px) {
  .shop-information th, .shop-information td {
    text-align: center;
    padding-left: 8px;
  }
}

.contact {
  padding: 80px 0 100px;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/contact_us-min.png");
  background-size: cover;
}

.contact-heading {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 24px;
  font-size: 36px;
  letter-spacing: 2px;
}

.contact-heading::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 1px;
  background-color: #2b2b2b;
  transform: translateX(-50%);
}

.contact-text {
  padding-bottom: 40px;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

.contact__btn {
  position: relative;
  display: inline-block;
  width: 360px;
  padding-left: 40px;
  height: 80px;
  line-height: 80px;
  letter-spacing: 2px;
  border: 1px solid #a0a0a0;
  background: #fff;
  font-size: 20px;
}

@media (max-width: 767px) {
  .contact__btn {
    width: 100%;
  }
}

.contact__btn:before, .contact__btn::after {
  content: '';
  position: absolute;
  border-radius: 2px;
}

.contact__btn:before {
  top: 30px;
  left: 85px;
  width: 30px;
  height: 20px;
  border: 1px solid #2b2b2b;
}

.contact__btn::after {
  top: 21px;
  left: 90px;
  width: 20px;
  height: 20px;
  border-right: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  transform: rotate(45deg);
}

.cp-text {
  text-align: center;
  padding: 12px 0 12px;
}

.header {
  width: 100%;
  height: 620px;
  background-image: url(../img/header-min.png);
  background-size: cover;
  text-align: center;
  /*OPEN時の動き*/
  /*OPEN時の動き*/
}

.header-nav {
  width: 100%;
  height: 64px;
  position: relative;
  position: fixed;
}

.header .drawer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
  padding: 0 1em;
}

.header .navbar_brand {
  color: #fff;
  font-size: 36px;
}

.header .navbar_toggle {
  z-index: 9999;
}

.header .navbar_toggle_icon {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  background: #fff;
  transition: ease .5s;
}

.header .navbar_toggle_icon:nth-child(1) {
  top: 0;
}

.header .navbar_toggle_icon:nth-child(2) {
  margin: 8px 0;
}

.header .navbar_toggle_icon:nth-child(3) {
  top: 0;
}

.header .navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}

.header .navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
}

.header .navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
  top: -10px;
  transform: rotate(-45deg);
}

.header .menu {
  transform: translateX(-100%);
  transition: ease .5s;
  z-index: 1000;
}

.header .menu ul li {
  padding: .8rem;
  border-bottom: 1px solid #CCC;
  background: rgba(255, 255, 255, 0.9);
}

.header .menu.open {
  transform: translateX(0);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.header__title {
  font-size: 120px;
  padding-top: 240px;
  color: #fff;
}

.header__title__sub {
  color: #fff;
}

.header__title__sub::before, .header__title__sub::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background: #fff;
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */